/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  display: block;

}


.App {
  font-family: Open Sans,sans-serif;
  padding: 100px 0 5px;
}





.Header {
width: 100%;
height: 100px;
position: fixed;
background-color: #AB2A19;
top: 0;
z-index: 2;
}

.Header_logo{
width: 50px;
position: absolute;
top: 25px;
left: 75px;
}

.Header_title  {
position: absolute;
top: 30px;
left: 150px;
font-weight: 700;
font-size: 30px;;
color: #FDFAF9;
text-transform: uppercase;

}

.form{
  width: 350px;
  height: 520px;
  padding: 15px;
  margin: 50px 240px;
  border-radius: 7px;
  background-color: #3AD886;
  display: flex;
  flex-direction: column;  
  float:right;
}

.form p{

  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

.form-preview{
 /* background-image: url(../src/component/img/no-image-800x511.png);*/

/*  width: 320px;
  height: 200px;
  margin:7px auto;
  background-position: 50%;
  background-size: cover;
  border: 1px solid #AB2A19;;
  
}

.form-button{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.form-button button{

  padding: 10px;
  margin: 5px 10px;
  background-color: #ED6B5A;;
  border-radius: 7px;
  border: none;
  font-family: open Sans, sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.product {
  margin-top: 50px ;
  float: left;
  margin-left: 300px;
  width: 650px;
  padding: 15px;
  border-radius: 7px;
  background-color: #D34734;
}

.product-container {
  display: flex;
  justify-content: space-between;
}

.product-img {
  background-image: url(https://target.scene7.com/is/image/Target/GUEST_48dcef42-e3fd-4ab2-9944-a0da619f83f6?fmt=webp);
  width: 320px;
  height: 180px;
  background-position: 50%;
  background-size: cover;
}

.product-container p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 24px;
} */




/*;;;;;;;;;;;;;;;;;;;;;;;;;*/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.body-content{
  display: flex;
  justify-content: space-around;
  align-items: center
}
.form{
  width: 450px;
  display: flex;
  flex-direction: column;
  background-color: #3ad886;
  justify-content: center;
  align-items: center;
  height: 520px;
  padding: 15px 15px 5px;
  border-radius: 7px 
}
.image-preview{
  height:200px ;
  width: 320px
}
.form-buttons-container{
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 0
}
.form-buttons-container button{
  background-color: #ED6B5A;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px
}
.form-inputs{
  display: flex;
  flex-direction: column;
  width: 95%;
}
.form-inputs input{
  height: 20px
}
.input-label{
  align-self: baseline;
  font-size: 20px;
  margin: 5px;
}
